In [1]:
import pandas as pd
import feather

# Load JSON and Feather data
df = pd.read_json('/allah/freqtrade/Orange_project/json_files/trades.json')
df_feather = feather.read_dataframe('/allah/freqtrade/user_data/strategies/real_1s.feather')

# Convert the 'open_date' column to datetime
df['open_date'] = pd.to_datetime(df['open_date'], unit='ms')

# Filter the DataFrame and reset the index
filtered_df = df_feather[df_feather['date'].isin(df['open_date'].to_list())].reset_index(drop=True)

# Set values in the filtered DataFrame
filtered_df['profit_ratio'] = df['profit_ratio']
filtered_df['profit_ratio'] = (filtered_df['profit_ratio'] * 100).map('{:.2f}%'.format)
# Perform the datetime conversion and formatting
filtered_df['converted_date'] = filtered_df['real_1s'].apply(lambda x: x.tz_localize('UTC').tz_convert('Asia/Shanghai').strftime('%Y-%m-%d %H:%M'))

ValueError: NaTType does not support strftime

In [30]:
import pandas as pd
df = pd.read_json('/allah/freqtrade/orange_project/json_files/trades.json')
# df['open_date'] = pd.to_datetime(df['open_date'], unit='ms')
df_date = df.loc[:, ['open_date', 'close_date', 'profit_ratio']]

In [31]:
df_date['open_date'] = pd.to_datetime(df_date['open_date'], unit='ms') 
df_date['close_date'] = pd.to_datetime(df_date['close_date'], unit='ms') 
df_date['profit_ratio'] = df_date['profit_ratio'] * 100

In [32]:
df_date

             open_date          close_date  profit_ratio
0  2023-11-11 03:03:00 2023-11-11 03:17:00     -0.327607
1  2023-11-11 03:35:00 2023-11-11 04:34:00      0.187587
2  2023-11-11 05:44:00 2023-11-11 06:42:00     -0.255170
3  2023-11-11 06:26:00 2023-11-11 07:49:00     -0.039019
4  2023-11-11 06:51:00 2023-11-11 09:19:00      0.098284
..                 ...                 ...           ...
72 2023-11-14 19:51:00 2023-11-14 20:01:00     -0.361597
73 2023-11-14 21:19:00 2023-11-14 21:20:00     -0.400001
74 2023-11-14 20:26:00 2023-11-14 21:33:00      0.603562
75 2023-11-14 22:14:00 2023-11-14 22:44:00     -0.223560
76 2023-11-14 22:40:00 2023-11-14 22:44:00      0.176740

[77 rows x 3 columns]