In [1]:
import pandas as pd
import feather
import datetime
import matplotlib.pyplot as plt

# Define the file path
eth_usdt_1m_file = '/allah/freqtrade/user_data/data/binance/futures/ETH_USDT_USDT-1m-futures.feather'

# Read the DataFrame from the feather file
eth_usdt_1m = feather.read_dataframe(eth_usdt_1m_file)
eth_usdt_1m_utc8 = eth_usdt_1m.copy()
# Add 8 hours to the 'date' column and simplify for readability
eth_usdt_1m_utc8['date'] = pd.to_datetime(eth_usdt_1m_utc8['date']) + pd.DateOffset(hours=8)

# Format the 'date' column as a string in the desired format
eth_usdt_1m_utc8['date'] = eth_usdt_1m_utc8['date'].dt.strftime('%Y-%m-%d %H:%M')

In [2]:
eth_usdt_1m_utc8['last_5_volume_sum'] = eth_usdt_1m_utc8['volume'].rolling(window=6).sum() - eth_usdt_1m_utc8['volume']

# Set 'whale_point' to 1 where 'volume' is greater than the rolling sum
eth_usdt_1m_utc8['whale_point'] = (eth_usdt_1m_utc8['volume'] > eth_usdt_1m_utc8['last_5_volume_sum']).astype(int)

In [5]:
eth_usdt_1m_utc8

,date,open,high,low,close,volume,last_5_volume_sum,whale_point
0,2019-11-27 15:45,146.00,146.00,146.00,146.00,0.010,NaN,0
1,2019-11-27 15:46,146.00,146.00,146.00,146.00,0.000,NaN,0
2,2019-11-27 15:47,146.00,146.00,146.00,146.00,0.000,NaN,0
3,2019-11-27 15:48,146.00,146.00,146.00,146.00,0.000,NaN,0
4,2019-11-27 15:49,146.00,146.00,146.00,146.00,0.000,NaN,0
...,...,...,...,...,...,...,...,...
2036230,2023-10-11 16:55,1562.68,1563.26,1562.68,1563.10,661.852,4696.851,0
2036231,2023-10-11 16:56,1563.09,1563.20,1562.78,1563.19,965.087,4645.688,0
2036232,2023-10-11 16:57,1563.19,1563.19,1562.80,1563.09,402.056,4701.867,0
2036233,2023-10-11 16:58,1563.09,1563.87,1563.08,1563.35,967.991,4568.687,0
2036234,2023-10-11 16:59,1563.34,1563.94,1563.34,1563.93,994.055,4335.459,0