In [1]:
import pandas as pd
df = pd.read_csv('/allah/freqtrade/json_dict/ETHUSDT-trades-2023-10-03.csv', header=0, index_col=0, parse_dates=True)

/tmp/ipykernel_56796/1359731947.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df = pd.read_csv('/allah/freqtrade/json_dict/ETHUSDT-trades-2023-10-03.csv', header=0, index_col=0, parse_dates=True)

In [3]:
# transfer timestamp(column time) to UTC+8
df['time'] = pd.to_datetime(df['time'], unit='ms') + pd.Timedelta(hours=8)

In [4]:
df

              price    qty   quote_qty                    time  is_buyer_maker
id
3258199126  1661.49  0.927  1540.20123 2023-10-03 08:00:00.127           False
3258199127  1661.48  0.001     1.66148 2023-10-03 08:00:03.818            True
3258199128  1661.48  1.294  2149.95512 2023-10-03 08:00:03.818            True
3258199129  1661.49  0.019    31.56831 2023-10-03 08:00:04.545           False
3258199130  1661.48  1.118  1857.53464 2023-10-03 08:00:04.554            True
...             ...    ...         ...                     ...             ...
3259912763  1656.18  0.086   142.43148 2023-10-04 07:59:58.188            True
3259912764  1656.18  0.043    71.21574 2023-10-04 07:59:59.096            True
3259912765  1656.19  0.010    16.56190 2023-10-04 07:59:59.202           False
3259912766  1656.19  0.124   205.36756 2023-10-04 07:59:59.202           False
3259912767  1656.18  0.005     8.28090 2023-10-04 07:59:59.261            True

[1713634 rows x 5 columns]

In [5]:
# make df only one row in one second, keep the last row
df = df.set_index('time').resample('S').last().reset_index()

In [10]:
# how many rows in df price is not na
df['price'].notna().sum()
df['price'].isna().sum()

8292

In [13]:
import requests
import os

# Define the download link
link = 'https://data.binance.vision/data/futures/um/daily/aggTrades/ETHUSDT/ETHUSDT-aggTrades-2023-10-06.zip'

# Set the download directory
download_dir = '/allah/freqtrade/json_dict'

# Change the current working directory to the download directory
os.chdir(download_dir)

# Download the file
response = requests.get(link)

# Check if the request was successful
if response.status_code == 200:
    # Get the filename from the URL
    filename = link.split("/")[-1]

    # Save the downloaded file
    with open(filename, 'wb') as file:
        file.write(response.content)
    
    print(f"File '{filename}' downloaded successfully.")
else:
    print(f"Error: {response.status_code} - Unable to download the file.")

File 'ETHUSDT-aggTrades-2023-10-06.zip' downloaded successfully.

In [16]:
# decompress the zip file
import zipfile
with zipfile.ZipFile('/allah/freqtrade/json_dict/ETHUSDT-aggTrades-2023-10-06.zip', 'r') as zip_ref:
    zip_ref.extractall('/allah/freqtrade/json_dict')

In [25]:
df = pd.read_csv('/allah/freqtrade/json_dict/ETHUSDT-aggTrades-2023-10-06.csv', header=0, index_col=0, parse_dates=True)

/tmp/ipykernel_56796/4268544003.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df = pd.read_csv('/allah/freqtrade/json_dict/ETHUSDT-aggTrades-2023-10-06.csv', header=0, index_col=0, parse_dates=True)

In [26]:
df.transact_time = pd.to_datetime(df.transact_time, unit='ms') + pd.Timedelta(hours=8)
df

,price,quantity,first_trade_id,last_trade_id,transact_time,is_buyer_maker
agg_trade_id,,,,,,
1389734228,1611.24,0.905,3263660501,3263660504,2023-10-06 08:00:00.023,False
1389734229,1611.23,0.016,3263660505,3263660505,2023-10-06 08:00:04.506,True
1389734230,1611.24,2.068,3263660506,3263660513,2023-10-06 08:00:04.513,False
1389734231,1611.25,0.195,3263660514,3263660517,2023-10-06 08:00:04.513,False
1389734232,1611.26,0.010,3263660518,3263660518,2023-10-06 08:00:04.513,False
...,...,...,...,...,...,...
1390358183,1644.32,0.006,3265761669,3265761669,2023-10-07 07:59:59.246,True
1390358184,1644.32,0.006,3265761670,3265761670,2023-10-07 07:59:59.704,True
1390358185,1644.33,0.008,3265761671,3265761671,2023-10-07 07:59:59.740,False
1390358186,1644.32,0.422,3265761672,3265761674,2023-10-07 07:59:59.840,True
1390358187,1644.33,6.081,3265761675,3265761683,2023-10-07 07:59:59.962,False

In [30]:
df.iloc[40:60]

,price,quantity,first_trade_id,last_trade_id,transact_time,is_buyer_maker
agg_trade_id,,,,,,
1389734268,1611.47,39.612,3263660610,3263660625,2023-10-06 08:00:04.672,True
1389734269,1611.46,8.166,3263660626,3263660642,2023-10-06 08:00:04.728,True
1389734270,1611.51,0.985,3263660643,3263660644,2023-10-06 08:00:04.743,False
1389734271,1611.52,6.020,3263660645,3263660647,2023-10-06 08:00:04.747,False
1389734272,1611.46,2.136,3263660648,3263660650,2023-10-06 08:00:04.748,True
1389734273,1611.45,4.382,3263660651,3263660657,2023-10-06 08:00:04.748,True
1389734274,1611.46,0.004,3263660658,3263660658,2023-10-06 08:00:04.844,False
1389734275,1611.48,0.031,3263660659,3263660659,2023-10-06 08:00:04.896,False
1389734276,1611.47,0.004,3263660660,3263660660,2023-10-06 08:00:04.905,True
1389734277,1611.46,0.060,3263660661,3263660662,2023-10-06 08:00:04.905,True
1389734278,1611.44,0.049,3263660663,3263660663,2023-10-06 08:00:04.905,True
1389734279,1611.42,0.108,3263660664,3263660664,2023-10-06 08:00:04.905,True
1389734280,1611.43,0.500,3263660665,3263660665,2023-10-06 08:00:04.906,False
1389734281,1611.44,0.500,3263660666,3263660666,2023-10-06 08:00:04.906,False
1389734282,1611.45,0.500,3263660667,3263660667,2023-10-06 08:00:04.906,False
1389734283,1611.48,0.169,3263660668,3263660668,2023-10-06 08:00:04.906,False
1389734284,1611.50,0.144,3263660669,3263660670,2023-10-06 08:00:04.906,False
1389734285,1611.51,40.695,3263660671,3263660679,2023-10-06 08:00:04.906,False
1389734286,1611.52,5.607,3263660680,3263660680,2023-10-06 08:00:04.911,False
1389734287,1611.51,2.224,3263660681,3263660683,2023-10-06 08:00:04.941,True

NameError: name 'whoami' is not defined